.per-btn{
    padding: .35%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    background-color: black;
}
.my-btn{
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 2rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.my-btn:hover{
    background-color: rgb(16, 255, 96);
    color: black;
    border: none;
}
.my-btn2{
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 2rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    background-color: rgb(16, 255, 96);
    color: black;
    border: none;
}
.nen-div{
    background-color: brown;
}